<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  
  <!-- Title -->
  {% if page.title %}
    <title> {{ page.title | escape }} </title>
  {% else %}
    <title> {{ site.title | escape }} </title>
  {% endif %}

  <!-- Links -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ replace:"index.html","" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Boostrap -->
  <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
  <script src="/vendor/js/jquery.min.js"></script>
  <script src="/vendor/js/bootstrap.min.js"></script>
  
  {% feed_meta %}
</head>
