{% extends "blog/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <article class="media content-section">  
        <div class="media-body">
            <div class="article-metadata">
                By <a href="#">{{ self.owner }}</a>
                on <small class="text-muted">{{ self.date | date:"F d, Y" }}</small>
                {% if self.categories.all %}
                    In{% for category in self.categories.all %} <a href="{% slugurl 'categories' %}?category={{ category }}">{{ category.name }}</a>.{% endfor %}
                {% endif %}
            </div>

            <!-- Article title and tags -->
            <div>
                <h2 class="article-title">{{ self.title }}</h2>
                {% if self.tags.all.count %}
                    <div style="display: flex;">
                        {% for tag in self.tags.all %}
                            <div class="card me-2" style="padding: 0.2em;">
                                <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <br style="display: block; content: ''; margin-top: 0.4em;">

            <!-- Body blocks -->
            {% with blocks=self.body %}
                {% for block in blocks %}
                    {% if block.block_type == 'heading' %}
                        <h3 style="text-align: justify; text-justify: inter-word;">{{ block.value }}</h3>
                    {% else %}
                    <section class="block-{{ block.block_type }}" style="text-align: justify; text-justify: inter-word;"> 
                        {{ block }}
                    </section>
                    {% endif %}
                {% endfor %}
            {% endwith %}

            <br>
        </div>
    </article>

{% endblock %}