{% extends "blog/base.html" %}

{% block content %}

    <article class="media content-section">
        <!-- Profile information -->
        <div class="media-body">
            <h2 class="article-title">{{ user.username }}</h2>
            
            <hr>

            <p class="article-content"> {{ user.profile.bio }} </p>
        </div>
    </article>

    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <!-- Article metadata -->
                <div class="article-metadata">
                    <a class="me-2" href="{% url 'blog-users' user=post.author %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                </div>

                <!-- Article title and tags -->
                <div>
                    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <div style="display: flex;">
                        {% for tag in post.tags.all %}
                            <div class="card me-2" style="padding: 0.2em;">
                                <a class="tag-{{ tag.db_name }}" href="{% url 'blog-tags' tag=tag.db_name %}">{{ tag.display_name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <br style="display: block; content: ''; margin-top: 0.4em;">

                <!-- Article content -->
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock content %}