{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Log in</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-submit" type="submit" style="width: 100%; margin-bottom: 1em; margin-top: 1em;">Log in</button>
            </div>
        </form>
        <div class="border-top pt-2">
            <small class="text-muted">
                Don't have an account yet? <a href="{% url 'users-register' %}">Sign up</a>.
            </small>
        </div>
    </div>
{% endblock content %}