{% extends "blog/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="content-section">
        <h2>
            You have been logged out.
        </h2>
        <div class="border-top pt-2">
            <small class="text-muted">
                You can continue to explore our <a href="{% slugurl 'blog' %}">blog</a> without an account.
                You can also <a href="{% url 'users-login' %}">log in</a> again or <a href="{% url 'users-register' %}">register</a> a new account.
            </small>
        </div>
    </div>
{% endblock content %}